@{
    ViewBag.Title = "Contact";
}
<h2 class="col-md-11">@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address class="col-md-11">
    47 Lorem Ipsum,<br />
    Cam Court, LN <br />
    <abbr title="Phone">Phone:</abbr>
    +44 7952 737 547
</address>

<address class="col-md-11">
    <strong>Support:</strong>   <a href="mailto:nikesh.tailor2@gmail.com">nikesh.tailor2@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Musec@gmail.com">eyy@gmail.com</a>
</address>