@{
    ViewBag.Title = "Home";
}

<div class="jumbotron col-md-11">
    <h1>helloworld</h1>
    <p class="lead">yeeeee</p>
    <p><a href="http://localhost:51126/Contact" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row col-md-11">
    <h2>Recently Updated</h2>
    <div class="col-md-4">
        <h3>Top 10</h3>
        <p>ohhhhhhh</p>
        <p>
            <a class="btn btn-default" href="http://localhost:51126/Music/Overview">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h3>About</h3>
        <p>ohyehhhh</p>
        <p>
            <a class="btn btn-default" href="http://localhost:51126/Movies/Overview">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h3>Contact</h3>
        <p>wubba lubba dub dub</p>
        <p>
            <a class="btn btn-default" href="http://localhost:51126/Series/Overview">Learn more &raquo;</a>
        </p>
    </div>

</div>
<br/>
