
@{
    ViewBag.Title = "AdultCartoons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-md-11">Animated Series</h2>


<div class="container">
    <h2>moonbeam City</h2>
    <p>hello world</p>
    <button type="button" class="btn" data-toggle="collapse" data-target="#demo">See more</button>
    <div id="demo" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>

